################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/App/bin
/.vs
/App/obj
/App/PingLogger.csproj.user
/Installer/Release
/Installer/Debug
/App/.vscode
/packages
/Installer/latest.json
/Installer/azureKey
/Installer/errors.log
*.user
